<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>PDSA</title>
</head>

<body>
    <div class="background-image"></div>
    <nav style="z-index: 1000000000;" class="navbar navbar-expand-lg navbar-light bg-dark content">
        <a style="color: white;" class="navbar-brand" href="/">PDSA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a style="color: white;" class="nav-link" href="/#/">Search <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="/#/insert">Insert</a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="/#/update">Update</a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="/#/delete">Delete</a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="/#/view">View</a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="/#/Minimun">Minimum Connection</a>
                </li>
                <li class="nav-item dropdown">
                    <a style="color: white;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mode
          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" (click)="changeMode(1)">Linked List</a>
                        <a class="dropdown-item" (click)="changeMode(2)">Adjacency Matrix</a>
                        <a class="dropdown-item" (click)="changeMode(0)">Dictionary</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a type="button" style="color: white;" class="nav-link" (click)="resetCache()">Reset Cache</a>
                </li>
                <li class="nav-item">
                    <a type="button" style="color: white;" class="nav-link" (click)="loadCache()">Load Cache</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <h5 style="color:white;">{{mode}}</h5>
            </form>
        </div>
    </nav>
    <router-outlet></router-outlet>
</body>

</html>