<div id="parentDiv" class="content">
    <div id="main">
        <form>
            <h1 style="color: white;">Search Shortest Path</h1>
            <p>
                <input style="margin-bottom: 5px;" class="form-control" type="text" placeholder="Start" id="start" list="stationList" #startStation required autofocus>
            </p>
            <p>
                <input style="margin-bottom: 5px;" class="form-control" type="text" placeholder="Destination" id="destination" list="stationList" #destinationStation required autofocus>
            </p>
            <datalist id="stationList">
                <option *ngFor="let station of stationList" [value]="station">{{station}}</option>
            </datalist>
            <button type="button" class="btn btn-primary btn-block" (click)="seachPath(startStation.value,destinationStation.value)">Search</button>
        </form>
        <div class="row" *ngIf="dataLoad==true?true:false">

            <div class="col-12">
                <div class="row">

                    <div class="col-6">
                        <h2 style="color: aliceblue;">Shortest Path : </h2>
                    </div>
                    <div class="col-9">
                        <h2 style="display: inline; color: aliceblue;" *ngFor="let station of connection">
                            {{station}} ->
                        </h2>
                    </div>
                </div>


            </div>
            <div class="col-12">
                <h2 style="color: aliceblue;">Distance : {{distance}}
                </h2>
            </div>
        </div>
    </div>

</div>