<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TrainStationShortestPath</title>
  <base href="/static/">  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.1207d8b58350e24ee72e.css"></head>
<body>
  <app-root></app-root>
<script src="runtime-es2015.c5fa8325f89fc516600b.js" type="module"></script><script src="runtime-es5.c5fa8325f89fc516600b.js" nomodule defer></script><script src="polyfills-es5.8e50a9832860f7cf804a.js" nomodule defer></script><script src="polyfills-es2015.5b10b8fd823b6392f1fd.js" type="module"></script><script src="scripts.b49ed56273b169552f2f.js" defer></script><script src="main-es2015.093ef125f754e63f3c4b.js" type="module"></script><script src="main-es5.093ef125f754e63f3c4b.js" nomodule defer></script></body>
</html>
